* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}
body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.nav-link {
    margin-right: 20px;
}
.nav-link a {
color: moccasin;
text-decoration: none;
}
 header {
    background-color: rgb(231, 110, 29);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    color: cornsilk;
}
header h1 {
    margin: 5px 0 5px 30px;
    font-style: italic;
}
header nav {
    margin: 7px 0;
    color: mintcream;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.subtitle {
    background-image: url(/assets/images/sunset.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}  
.subtitle button {
    bottom: 10px;
    right: 10px;
    z-index: 1
}
.about-me {
    display: flex;
    width: fit-content;
    margin: 150px 0;
}
.div1 h2 {
    padding: 5px;
    padding-left: 60px;
    
}
.div2 {
    padding-left: 40px;
    border-left: 4px black solid;
    display: flex;
    flex-direction: column;
}
.div2 p {
    margin: 10px;
    padding: 0 50px;  
}
.div3 {
    display: flex;
    padding-right: 10px;
    width: fit-content;
    padding-top: 60px;
}
.div3 h2 {
    padding-top: 160px;
    padding-left: 60px;
}
.div3 img {
    display: flex;
    margin: 20px;
    padding: 0 10px 20px 30px;
}
.first-image {
    padding-left: 60px;
    border-left: 4px black solid;
}
.contact-me h2 {
    padding-left: 30px;

}    
.contact-me {
    display: flex;
    justify-content: space-between;
}
.contact-me a {
    text-decoration: none;
    color: rosybrown;
}
.div4 h2 {
    padding-right: 20px;
    border-right: 4px solid black;
}
.div5 a {
    margin-right: 250px;;
}
.div6 a {
    margin-right: 155px;
}   
.div7 a {
    margin-right: 50px;
}
.div8 a {
    margin-right: 75px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
  }
